body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
.navbar {
overflow: hidden;
background-color: #333;
}

.navbar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}



.navbar a:hover {
background-color: rgb(86, 83, 83);
}

.report {
  border-bottom: 1px solid #655d5d;
}

.period {
  border-bottom: 1px solid #655d5d;
}

.pagination-page-info {
  padding: .6em;
  padding-left: 0;
  width: 40em;
  margin: .5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: black;
  background: #6aa6ed;
  padding-left: 2px;
  padding: .1em .25em;
  font-size: 150%;
}
