{% extends 'base.html' %}


{% block title %}Disburse Inventory{% endblock %}

{% block page_content %}

<br>
<div class="content-section">
    <!-- passing an empty string to the action attribute redirects the form back to the same route -->
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="">
            <legend class="border-bottom">Disburse Inventory</legend>
            <div class="mb-3 mt-3">
                {{ form.item.label(class="form-label") }}
                {% if form.item.errors %}
                    {{ form.item(class="form-select is-invalid") }}
                    <div class="invalid-feedback">
                        {% for errors in form.item.errors %}
                            {{ errors }}
                        {% endfor %}
                    </div>
                {% endif %}
                {{ form.item(class="form-select ") }}
            </div>

            <div class="form-floating mb-3 mt-3">
                {% if form.units.errors %}
                    <input type="number" name="units" id="units" class="form-control is-invalid" placeholder="No of Units">    
                    <label for="units">No of Units</label>
                    <div class="invalid-feedback">
                        {% for errors in form.units.errors %}
                            {{ errors }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="number" name="units" id="units" class="form-control" placeholder="No of Units">  
                    <label for="units">No of Units</label>
                {% endif %}
            </div>

            <div class="form-floating mb-3 mt-3">
                {% if form.destination.errors %}
                    <input type="text" name="destination" id="destination" class="form-control is-invalid" placeholder="Destination">    
                    <label for="destination">Destination</label>
                    <div class="invalid-feedback">
                        {% for errors in form.destination.errors %}
                            {{ errors }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="text" name="destination" id="destination" class="form-control" placeholder="Destination">    
                    <label for="destination">Destination</label>
                {% endif %}
            </div>

            <div class="form-floating mb-3 mt-3">
                {% if form.description.errors %}
                    <textarea name="description" id="description" cols="30" rows="10" class="form-control is-invalid" placeholder="Description"></textarea>
                    <label for="description">Description</label>
                    <div class="invalid-feedback">
                        {% for errors in form.description.errors %}
                            {{ errors }}
                        {% endfor %}
                    </div>
                {% else %}
                    <textarea name="description" id="description" cols="30" rows="10" class="form-control" placeholder="Description"></textarea>
                    <label for="description">Description</label>
                {% endif %}
            </div>
        </fieldset>
        <div class="form-floating mb-3 mt-3 mt-3">
            {{ form.submit(class = "btn btn-sm btn-outline-secondary") }}
        </div>
    </form>
</div>

{% endblock %}