{% extends 'base.html' %}

{% block page_content %}

<br>
<div class="container">
    <h4>TOTAL RECIEVED IN PERIOD</h4>
      <table class="table myTable">
        <thead>
          <tr>
            <th colspan="2"><input type="text" placeholder="Search Items" class="form-control search_item" onkeyup="myFunc()"></th>
          </tr>
          <tr>
            <th>ITEM</th>
            <th>UNITS</th>
          </tr>
        </thead>
        {% for new in incoming_dict.items() %}
        <tr>
          <td>{{ new[0] }}</td>
          <td>{{ new[1] }}</td>
        </tr>
        {% endfor %}
      </table>
      <a class="btn btn-outline-secondary btn-sm mb-5" href="{{ url_for('main.download', process='incoming', filter=1) }}">
        <i class="bi bi-download"></i>
        Download
      </a>
  </div>

{% endblock %}