{% extends 'base.html' %}

{% block page_content %}

<br>
<div class="container">
    <h3>DISBURSED INVENTORY</h3>
    <!-- <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>             -->
    <input type="text" class="form-control" id="myInput" placeholder="Search items ..." onkeyup="myFunction()">
    <table class="table" id="myTable">
      <tr>
        <th>ITEM</th>
        <th>NO OF UNITS</th>
        <th>DATE DISBURSED</th>
        <th>DESTINATION</th>
      </tr>
      {% for disbursed in outgoing %}
        <tr>
          <td>{{ disbursed.item }}</td>
          <td>{{ disbursed.units }}</td>
          <td>{{ disbursed.date_disbursed.strftime("%b-%d-%y") }}</td>
          <td>{{ disbursed.destination | title }}</td>
        </tr>
      {% endfor %}
    </table>
    <a class="btn btn-outline-secondary btn-sm mb-5" href="{{ url_for('main.download', process='disburse', filter=filter) }}">Download</a>
    <!-- process value of disburse is passed to the download function to read the appopriate html table -->
</div>

{% endblock %}