{% extends 'base.html' %}

{% block page_content %}

<br>
<div class="container">
    <h4>TOTAL DISBURSED IN PERIOD</h4>
      <table class="table myTable">
        <thead>
          <tr>
            <th colspan="2">
              <a id="send" href="{{ url_for('disbursed.inventory_disbursed_full', start_date=request.cookies.get('start_date', ''), end_date=request.cookies.get('end_date', '')) }}" style="text-decoration: none;"><input type="text" placeholder="Search Items" class="form-control" onkeyup="send()"></a>
          </tr>
          <tr>
            <th>ITEM</th>
            <th>UNITS</th>
          </tr>
        </thead>
        {% for item in pagination.items %}
        <tr>
          <td>{{ item['item'] }}</td>
          <td>{{ item['units'] }}</td>
        </tr>
        {% endfor %}
      </table>
      <a class="btn btn-outline-secondary btn-sm mb-5" href="{{ url_for('main.download', process='outgoing', filter=1) }}">
        <i class="bi bi-download"></i>
        Download
      </a>
  </div>

  {% if pagination.has_prev %}
  <a class="btn btn-outline-primary" href="{{ url_for('disbursed.inventory_disbursed', start_date=request.cookies.get('start_date'), end_date=request.cookies.get('end_date'), page=pagination.prev_num) }}">&laquo;</a>
{% else %}
<a class="btn btn-outline-primary disabled" href="{{ url_for('disbursed.inventory_disbursed', start_date=request.cookies.get('start_date'), end_date=request.cookies.get('end_date'), page=pagination.prev_num) }}">&laquo;</a>
{% endif %}

{% for page_num in pagination.iter_pages(left_edge=1,right_edge=1,left_current=2,right_current=2) %}
{% if page_num %}
  {% if pagination.page == page_num %}
    <a class="btn btn-primary" href="{{ url_for('disbursed.inventory_disbursed', start_date=request.cookies.get('start_date'), end_date=request.cookies.get('end_date'), page=page_num) }}">{{ page_num }}</a>
  {% else %}
    <a class="btn btn-outline-primary" href="{{ url_for('disbursed.inventory_disbursed', start_date=request.cookies.get('start_date'), end_date=request.cookies.get('end_date'), page=page_num) }}">{{ page_num }}</a>
  {% endif %}
{% else %}
  &hellip;
{% endif %}
{% endfor %}

{% if pagination.has_next %}
  <a class="btn btn-outline-primary" href="{{ url_for('disbursed.inventory_disbursed', start_date=request.cookies.get('start_date'), end_date=request.cookies.get('end_date'), page=pagination.next_num) }}">&raquo;</a>
{% else %}
<a class="btn btn-outline-primary disabled" href="{{ url_for('disbursed.inventory_disbursed', start_date=request.cookies.get('start_date'), end_date=request.cookies.get('end_date'), page=pagination.next_num) }}">&raquo;</a>
{% endif %}
  
  
{% endblock %}